body {
  background-color: rgb(186, 191, 191);
  margin: 0;




}

a{
  color: antiquewhite!important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}